In [24]:
import pandas as pd
import numpy as np
import json
import ast
import locale

In [25]:
df = pd.read_csv("movies_dataset.csv")

C:\Users\PC1\AppData\Local\Temp\ipykernel_6692\641798821.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("movies_dataset.csv")

In [26]:
df.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

# Creamos dos funciones:

In [27]:
def fetch_name(obj): 
    if isinstance(obj, str) and '{' in obj:
        L = []
        for i in ast.literal_eval(obj):
            L.append(i['name'])
        return L

In [28]:
def fetch_name_2(obj): 
    if isinstance(obj, str) and '{' in obj:
        dic = ast.literal_eval(obj)
        return dic['name']

In [29]:
df["release_date"].replace("1", np.nan, inplace = True)
df["release_date"].replace("12", np.nan, inplace = True)

Convertimos la columna "release_date" a formato fecha y eliminamos las filas que tienen valores nulos

In [30]:
fechas_datetime = pd.to_datetime(df["release_date"], format='%Y-%m-%d', errors = 'coerce')
df["release_date"] = fechas_datetime.dropna()

Usamos las dos funciones creadas anteriormente para desanidar las columnas y obtener el valor que nos interesa

In [31]:
df["genres"] = df["genres"].apply(fetch_name)
df["belongs_to_collection"] = df["belongs_to_collection"].apply(fetch_name_2)
df["production_companies"]  = df["production_companies"].apply(fetch_name)
df["production_countries"]  = df["production_countries"].apply(fetch_name)
df["spoken_languages"] = df["spoken_languages"].apply(fetch_name)

In [32]:
df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,Toy Story Collection,30000000,"[Animation, Comedy, Family]",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,[English],Released,NaN,Toy Story,False,7.7,5415.0
1,False,None,65000000,"[Adventure, Fantasy, Family]",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[English, Français]",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,Grumpy Old Men Collection,0,"[Romance, Comedy]",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,[English],Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,None,16000000,"[Comedy, Drama, Romance]",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,[English],Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,Father of the Bride Collection,0,[Comedy],NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,[English],Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

Convertimos a 0 las filas nulas y luego las comprobamos

In [33]:
df[['revenue', 'budget']] = df[['revenue', 'budget']].fillna(0)
print(df.isna().sum())

adult                        0
belongs_to_collection    40975
budget                       0
genres                    2442
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies     11881
production_countries      6288
release_date                90
revenue                      0
runtime                    263
spoken_languages          3835
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

Elimino los valores nulos de la columna 'release_date'

In [34]:
df.dropna(subset=['release_date'], inplace=True)

Comprobamos

In [35]:
null_values = df['release_date'].isnull().sum()
print("Número de valores nulos en la columna 'release_date':", null_values)

Número de valores nulos en la columna 'release_date': 0

Finalmente, podemos crear la columna release_year con el año de la fecha de estreno:

In [36]:
df['release_year'] = df['release_date'].dt.year

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45376 entries, 0 to 45465
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45376 non-null  object
 1   belongs_to_collection  4488 non-null   object
 2   budget                 45376 non-null  object
 3   genres                 42992 non-null  object
 4   homepage               7766 non-null   object
 5   id                     45376 non-null  object
 6   imdb_id                45362 non-null  object
 7   original_language      45365 non-null  object
 8   original_title         45376 non-null  object
 9   overview               44435 non-null  object
 10  popularity             45376 non-null  object
 11  poster_path            45037 non-null  object
 12  production_companies   33580 non-null  object
 13  production_countries   39165 non-null  object
 14  release_date           45376 non-null  datetime64[ns]
 15  revenue                45376 non-null  float64
 16  runtime                45130 non-null  float64
 17  spoken_languages       41608 non-null  object
 18  status                 45296 non-null  object
 19  tagline                20398 non-null  object
 20  title                  45376 non-null  object
 21  video                  45376 non-null  object
 22  vote_average           45376 non-null  float64
 23  vote_count             45376 non-null  float64
 24  release_year           45376 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(1), object(19)
memory usage: 9.0+ MB

Crear la columna con el retorno de inversión, llamada return 
con los campos revenue y budget, dividiendo estas dos últimas revenue / budget, 
cuando no hay datos disponibles para calcularlo, deberá tomar el valor 0.

In [38]:
df["revenue"] = pd.to_numeric(df["revenue"], errors="coerce")
df["budget"] = pd.to_numeric(df["budget"], errors="coerce")

df['return'] = df['revenue'] / df['budget']
df['return'] = df['return'].replace([np.inf, -np.inf], np.nan)
df['return'] = df['return'].fillna(0)
df['return'] = df['return'].round(2)
df['return'].head(10)

0    12.45
1     4.04
2     0.00
3     5.09
4     0.00
5     3.12
6     0.00
7     0.00
8     1.84
9     6.07
Name: return, dtype: float64

Esta línea de código muestra las películas cuyo título original es diferente del título en inglés.

In [39]:
df[df['original_title'] != df['title']][['title', 'original_title']].head()

                        title                    original_title
28  The City of Lost Children        La Cité des Enfants Perdus
29             Shanghai Triad                         摇啊摇，摇到外婆桥
32           Wings of Courage  Guillaumet, les ailes du courage
57                The Postman                        Il postino
58           The Confessional                  Le confessionnal

Eliminamos las columnas que nos piden

In [40]:
df.drop(['video', 'imdb_id', 'adult', 'original_title', 'poster_path', 'homepage'], axis=1, inplace=True)

Creamos la columna con el nombre del dia

In [41]:
# Configurar el idioma a español
locale.setlocale(locale.LC_ALL, 'es_ES')

# Convertir la columna "release_date" en un objeto datetime
df['release_date'] = pd.to_datetime(df['release_date'])

# Crear la nueva columna con el nombre del día de la semana en español
df['nombre_dia'] = df['release_date'].apply(lambda x: x.strftime('%A'))

Comprobamos

In [42]:
df["nombre_dia"].unique()

array(['lunes', 'viernes', 'jueves', 'miércoles', 'sábado', 'martes',
       'domingo'], dtype=object)

Lo exportamos como un csv, para llamar las 6 primeras funciones

In [43]:
df = pd.DataFrame(df)
df.to_csv("movies_dataset_clean.csv")